.category-detail {
  background-color: #595959;
  border-bottom: 7px solid #e64d24;
  margin-top: 45px;
  font-size: 0.7rem;
  height: 40px;
  box-sizing: content-box;
  line-height: 40px;
  color: #cccccc; }
  .category-detail span.current {
    color: white; }

.wrap-contents {
  background-color: #f2f2f2;
  padding-top: 43px;
  border-bottom: 1px solid #8c8c8c;
  margin-bottom: 55px; }
  .wrap-contents .contents {
    background-color: #edece8;
    padding-left: 18.3%;
    width: 100%;
    height: 714px; }
  .wrap-contents .left, .wrap-contents .right {
    display: inline-block;
    float: left; }
  .wrap-contents .left {
    width: 235px;
    height: 714px;
    background-color: white;
    padding-left: 50px;
    padding-right: 40px; }
    .wrap-contents .left .head {
      border-bottom: 4px solid #999999;
      height: 160px;
      padding-top: 70px;
      padding-bottom: 20px;
      margin-bottom: 30px; }
    .wrap-contents .left h3 {
      color: #e64d24;
      font-size: 1.7rem;
      font-weight: 600; }
    .wrap-contents .left h4 {
      font-size: 1.1rem;
      color: #c85131;
      margin-top: 10px; }
    .wrap-contents .left .desc {
      background-color: #999999;
      width: 100%;
      color: white;
      font-size: 0.8rem;
      padding: 5px; }
  .wrap-contents .right {
    padding-top: 160px; }
    .wrap-contents .right hr {
      background-color: #999999;
      max-width: 160px;
      height: 4px;
      margin-top: -2px;
      margin-bottom: 30px;
      margin-left: 0px; }
  .wrap-contents .select-work, .wrap-contents .select-member {
    display: inline-block;
    float: left; }
    .wrap-contents .select-work h3, .wrap-contents .select-member h3 {
      margin-bottom: 30px;
      font-weight: 600; }
  .wrap-contents .select-work {
    width: 300px;
    height: 550px;
    padding-left: 70px; }
  .wrap-contents .selectable-work {
    width: 220px;
    height: 305px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #e64d24;
    overflow-y: auto;
    background-color: white; }
    .wrap-contents .selectable-work .item {
      font-size: 0.8rem;
      font-weight: 600;
      padding-left: 13px;
      height: 30px;
      line-height: 30px;
      cursor: pointer; }
    .wrap-contents .selectable-work .item.active {
      background-color: #f9d1c6; }
  .wrap-contents .select-member {
    width: 330px;
    height: 550px;
    padding-left: 110px; }
    .wrap-contents .select-member .search-name {
      width: 220px;
      height: 35px;
      padding-left: 15px; }
    .wrap-contents .select-member .search-btn {
      margin-top: 30px;
      float: right; }

.middle-search {
  background-color: #f2f2f2;
  height: 115px;
  padding-top: 40px; }
  .middle-search .form-group {
    display: inline-block; }
  .middle-search select.minimal, .middle-search .search-name {
    width: 190px;
    height: 35px;
    color: #adadad; }
  .middle-search select.minimal {
    border: 1px solid #e64d24;
    font-size: 0.8rem;
    background-image: linear-gradient(45deg, transparent 50%, #e64d24 35%), linear-gradient(135deg, #e64d24 50%, transparent 45%);
    background-position: calc(100% - 13px) calc(1em), calc(100% - 5px) calc(1em);
    background-size: 8px 8px, 8px 8px, 1px 1.5em;
    margin-right: 15px; }
  .middle-search .search-name {
    border: 1px solid #e64d24;
    background-color: white;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 0.8rem; }
    .middle-search .search-name ::-webkit-input-placeholder {
                               
      color: #adadad; }
    .middle-search .search-name ::-moz-placeholder {
                       
      color: #adadad; }
    .middle-search .search-name :-ms-input-placeholder {
                  
      color: #adadad; }
    .middle-search .search-name :-moz-placeholder {
                       
      color: #adadad; }
  .middle-search .btn-basic {
    width: 45px;
    height: 35px;
    line-height: 32px; }

.search-result .title {
  text-align: center;
  max-height: 135px;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 60px;
  padding-bottom: 50px;
  border-bottom: 1px solid #8c8c8c;
  margin-bottom: 95px; }
.search-result .result-item {
  width: 220px;
  height: 487px;
  margin-bottom: 70px;
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
  margin-right: 100px;
  margin-left: 0px; }
  .search-result .result-item .head {
    width: 100%;
    height: 10px;
    background-color: #999999;
    margin-bottom: 35px; }
  .search-result .result-item .result {
    padding: 10px 10px 20px;
    background-color: #f2f2f2; }
  .search-result .result-item .result-img {
    margin-bottom: 35px; }
  .search-result .result-item .wrap-con {
    padding-left: 5px;
    font-weight: 500;
    position: relative; }
  .search-result .result-item .name {
    font-size: 1.2rem;
    font-weight: 600; }
  .search-result .result-item .more-detail {
    position: absolute;
    width: 45px;
    height: 20px;
    right: 0px;
    top: 0px;
    border: 1px solid black;
    font-size: 0.5rem;
    text-align: center;
    line-height: 20px;
    cursor: pointer; }
  .search-result .result-item .job {
    background-color: #426897;
    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.75rem;
    padding: 3px; }
  .search-result .result-item .tel {
    margin-bottom: 10px; }
  .search-result .result-item .mainwork {
    margin-top: 25px; }
    .search-result .result-item .mainwork .work-title {
      margin-bottom: 10px; }
.search-result .result-item:nth-child(3n+1) {
  margin-right: 0px; }
