@charset "UTF-8";
                                    
  
              
                 
               
             
  
footer {
  min-height: 105px;
  padding-top: 10px;
  font-size: 0.8rem; }
  footer ul.links {
    margin-bottom: 15px;
    padding-left: 0px; }
    footer ul.links li {
      display: inline-block;
      border-right: 2px solid #dcdcdc;
      padding-right: 20px;
      margin-right: 15px; }
    footer ul.links li:last-child {
      border-right: none; }
    footer ul.links a {
      color: inherit;
      text-decoration: none; }

@media only screen and (max-width: 767px) {
  footer.wrap-narrow {
    margin-top: 50px;
    font-size: 0.7rem; }

  footer ul.links {
    text-align: center; }
    footer ul.links li {
      font-size: 0.6rem;
      text-align: center;
      padding-right: 5px;
      margin-right: 2px;
      margin-bottom: 3px; }

  .copyright {
    text-align: center; } }
