.wrap-logo {
  padding-top: 185px;
  padding-bottom: 45px; }
  .wrap-logo img.logo {
    margin-left: 10px;
    margin-bottom: 40px; }
  .wrap-logo p.desc {
    color: white;
    font-size: 0.8rem;
    line-height: 1rem; }
  .wrap-logo img.arrow {
    margin-top: 40px; }

.menu-bottom {
  width: 100%;
  padding-left: 32%;
  min-height: 200px;
  font-size: 0.8rem; }
  .menu-bottom .gradient {
    width: 100%;
    height: 5px;
    background-color: gray; }
  .menu-bottom .left, .menu-bottom .right {
    display: inline-block;
    float: left; }
  .menu-bottom .left {
    width: 230px; }
    .menu-bottom .left .item {
      padding-left: 40px;
      padding-right: 13px;
      height: 45px;
      line-height: 45px;
      background-color: #c84523;
      border-bottom: 1px solid white;
      color: #c8bfbd;
      box-shadow: 10px 0px 35px -10px black; }
      .menu-bottom .left .item a {
        color: inherit; }
      .menu-bottom .left .item i {
        float: right;
        font-size: 2rem;
        margin-top: 10px; }
    .menu-bottom .left .item:first-child {
      background-color: #e64d24;
      color: white;
      font-size: 1rem;
      box-shadow: 0px 0px 0px;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px; }
    .menu-bottom .left .item:last-child {
      border-bottom: none; }
  .menu-bottom .right {
    width: calc(100% - 230px);
    background-color: #c69c6d;
    min-height: 225px;
    padding-top: 40px;
    padding-left: 70px; }
    .menu-bottom .right ul {
      padding-left: 0px; }
    .menu-bottom .right li {
      display: inline-block;
      width: 127px;
      height: 25px;
      padding-left: 5px;
      line-height: 25px;
      margin-bottom: 18px;
      margin-right: 22px;
      color: white;
      cursor: pointer;
      border-left: 4px solid #b3b3b3; }
    .menu-bottom .right li:hover {
      background-color: #d96d41;
      border-left: none; }

.bottom-content {
  width: 100%;
  padding-left: 32%; }
  .bottom-content .left, .bottom-content .right {
    display: inline-block;
    float: left; }
  .bottom-content .left {
    width: 230px; }
  .bottom-content .right {
    width: 445px; }
  .bottom-content .head .left {
    height: 130px;
    background-color: #e64d24; }
  .bottom-content .head .right {
    height: 130px;
    padding-top: 45px;
    text-align: center;
    color: #848484; }
    .bottom-content .head .right h3 {
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 1.3rem; }
  .bottom-content .search-member .left {
    height: 210px;
    background-image: url("../img/main-back-bottom.png");
    background-size: contain;
    text-align: center; }
    .bottom-content .search-member .left h3 {
      color: white;
      margin-top: 50px;
      margin-bottom: 55px; }
    .bottom-content .search-member .left .search {
      margin: 0 auto;
      border: 1px solid black;
      box-sizing: content-box; }
  .bottom-content .search-member .right {
    height: 210px;
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 8px;
    background-color: #f2f2f2; }
  .bottom-content .search-member .article {
    border-top: 1px solid #cccccc;
    padding-top: 4px;
    padding-bottom: 5px;
    height: 27px; }
    .bottom-content .search-member .article .title {
      width: 104px;
      display: inline-block;
      color: #e64d24;
      font-size: 0.8rem; }
    .bottom-content .search-member .article .desc {
      font-size: 0.85rem;
      font-weight: 600; }
  .bottom-content .search-member .article:last-child {
    border-bottom: 1px solid #cccccc; }
  .bottom-content .search-member .area-circle {
    font-size: 0.1rem;
    display: block;
    margin: 7px auto 0;
    color: #b3b3b3;
    text-align: center; }
    .bottom-content .search-member .area-circle i {
      margin-right: 10px; }
    .bottom-content .search-member .area-circle i.active {
      color: #e64d24; }

.banners {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  margin-bottom: 45px;
  background-color: #666666; }
  .banners .item {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 270px;
    display: inline-block;
    float: left; }
    .banners .item .wrap-img {
      display: inline-block;
      float: left;
      width: 60px; }
    .banners .item .contents {
      max-width: 210px;
      display: inline-block;
      float: left;
      padding-left: 20px;
      padding-right: 30px;
      font-size: 0.65rem;
      color: white; }
      .banners .item .contents .title {
        font-size: 0.7rem;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 10px; }
  .banners .arrow {
    background-color: #4d4d4d;
    display: inline-block;
    width: 50px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
    float: right; }
    .banners .arrow i {
      cursor: pointer; }
