@charset "UTF-8";
                                    
  
              
                 
               
             
  
@media only screen and (max-width: 767px) {
  .wrap-contents.mobile {
    padding-top: 0; }
    .wrap-contents.mobile .wrap-narrow {
      width: 100%; }
    .wrap-contents.mobile .contents {
      height: auto;
      padding-left: 0; }
    .wrap-contents.mobile .right, .wrap-contents.mobile .left {
      float: none;
      height: auto;
      width: 100%; }
    .wrap-contents.mobile .title {
      padding: 0;
      min-height: 165px; }
      .wrap-contents.mobile .title .head {
        margin: 0;
        height: auto;
        border-bottom: none;
        padding: 40px 0 0; }
        .wrap-contents.mobile .title .head h3 {
          font-size: 31px;
          letter-spacing: 0.6px;
          color: #000000; }
          .wrap-contents.mobile .title .head h3:before {
            content: '';
            width: 107px;
            height: 7px;
            display: block;
            background-color: #333333;
            margin: auto auto 20px; }
    .wrap-contents.mobile .search-option-box {
      padding: 0; }
      .wrap-contents.mobile .search-option-box .select-work, .wrap-contents.mobile .search-option-box .select-member {
        width: 85%;
        height: auto;
        padding: 0;
        float: none;
        display: block;
        margin: 45px auto auto; }
      .wrap-contents.mobile .search-option-box .selectable-work, .wrap-contents.mobile .search-option-box .search-name {
        border: 15px solid #D2D2D2;
        background-color: #273036;
        width: 100%;
        height: auto;
        padding: 0; }
      .wrap-contents.mobile .search-option-box .selectable-work {
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        padding: 10px 0 10px 10%; }
        .wrap-contents.mobile .search-option-box .selectable-work .item {
          width: 50%;
          height: 40px;
          padding: 0; }
          .wrap-contents.mobile .search-option-box .selectable-work .item span {
            display: inline-block;
            padding: 0 5px;
            text-align: left;
            line-height: 40px; }
          .wrap-contents.mobile .search-option-box .selectable-work .item.active {
            background-color: transparent; }
            .wrap-contents.mobile .search-option-box .selectable-work .item.active span {
              background-color: #E44726; }
      .wrap-contents.mobile .search-option-box .search-name {
        padding: 23px; }
        .wrap-contents.mobile .search-option-box .search-name input {
          height: 40px;
          border-radius: 15px;
          padding-left: 18px; }
      .wrap-contents.mobile .search-option-box h3 {
        margin: 0; }
        .wrap-contents.mobile .search-option-box h3:after {
          content: '';
          width: 89px;
          height: 3px;
          display: block;
          background-color: #333333;
          margin: 15px 0; } }
